* {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

#game {
    float: left;
}

#yes {
    position: absolute;
    right: 100;
    z-index: -100000;
}

#score {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: #ff9ba2;
    top: 70%;
    left: 4.5%;
}

#scoreLabel {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: #ff9ba2;
    top: 78%;
    left: 2.5%;
}

#fileInput {
    position: absolute;
    left: 60.3%;
    top: 71.5%;
    z-index: 100;
    height: 38px;
    width: 233px;
    opacity: 0;
    display: none;
}

#diffs {
    position: absolute;
    left: 0;
    top: 10%;
    z-index: 100;
}

#menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    display: none;
}